.jobs-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red 5px;
  padding: 1em;
  width: 50%;
  height: 50%;
}

.purple-dot-background {
  /* width: 15%;
  height: auto; */
  max-width: 70px;
  max-height: 70px;
  min-width: 15px;
  min-height: 15px;
  background-image: url(../../images/PurpleDot.svg);
}
